# Types of Numbers

### a. Plain Integers

Whole numbers are know as integers or `ints` (in math/computer science) and consist of 32 binary digits extending from -2^31 (-2147483648) to 2^31 (2147483647).

Python automatically treats a number as an integer if it is written without a decimal point and is within the bounds stated above. 

If the number is beyond the given bounds, it is known as a **long integer** and designaed as such by an L symbol. 

When operating on existing integers, which produce other whole numbers, the answer should also be an integer.

In [ ]:
# Example
14*3

In [ ]:
# Example
5+6*4-(12*2)

We are also able to convert numbers to integers, so for example we can use the `int()` function.

Try to convert 2.000 into an integer using the `int()` function.

Have a go below:

In [ ]:
# Example
# Enter your attempt below:

### b. Floating Points

Floats (as they are known) rational numbers and may have fractional part.

They range between ±2*10^-308 to ±2*10^308.

They are written in python by introducing a period punctuation mark at the end of the integer to indicate a decimal.

So, the value of pi when written in full notation (e.g., 3.14) should produce a float when printed to the console.  

Have a go below:

In [ ]:
# Example
# Enter your attempt below:

We can also transform an integer to a float using the `float()` function.

So try enter the number 9 as an integer into the `float()` function, and then observe the output.

In [ ]:
# Example
# Enter your attempt below:

And, you can also change it back again using the `int()` function again.

In [ ]:
# Example
# Enter your attempt below:

We can actually find out the type of a number using python's inbuilt function, **type**.

As this is a function, e.g., `type()`, you need to place the number or variable you want to query in the function brackets/parentheses. 

Have a go below for the value of pi (so, 3.14), as well as for the integer 80:

In [ ]:
# Example
# Enter your attempt below:

## Exercise 1

Work through the following two examples. Have a go at obtaining and explaining the answers.

Convert 2.0 into an integer and multiply the result by 3.0. What do you get and why?

In [ ]:
# Example
# Enter your attempt below:

Now convert both 2.0 and 3.0 to integers and multiply. What do you get and why?

In [ ]:
# Example
# Enter your attempt below: