# Strings and Lists

In Python (and other computer languages), we have a range of different types of data structures.

In this session we are going to cover the very basics.

## Strings

Strings consist of characters and symbols, often representing natural human language (as opposed to a computer language).

Strings are handy for text manipulation, file modification, labelling of plots, requesting inputs from user, arguments in functions etc.

They are created by enclosing a sequence of characters using pair of single of double quotes. It does not matter whether single or double but it should be consistent. 

Strings can be assigned variable names.

In [1]:
# Example
my_string = 'this is my string'
my_string

'this is my string'

Strings can be concatenated using the "+" operator:

In [2]:
# Example
a = 'Ed has a dog called George.'
b = 'George is a black labrador.'
c = a + " " + b
c

'Ed has a dog called George. George is a black labrador.'

Strings can also be made of numbers. This might catch you out from time to time (!). You need to pay attention to the quotation marks, which denote a string.

In [3]:
# Example
d = '345'
e = 345

The variable `d` is a string while `e` is an integer. What do you think will happen if we add them?

(Remember `d` is a string, so you won't get 690. Instead, you will get the string repeated twice, so '345345')

In [4]:
# Example
d + d

# Answer: '345345'

'345345'

You can also insert a value into a string using the `format()` function. You just need to add a curly parantheses `{}` to the point where you want to add the additional characters. 

You will see this often in this course, especially as it is very handy when printing the values used in loops.

In [7]:
# Example
my_number = 2
my_variable = "We can insert a value into our string like so: {}".format(my_number)
my_variable

'We can insert a value into our string like so: 2'

## Exercise

Allocate your first name as a string to the variable `my_first_name`:

In [ ]:
# Enter your attempt here

Now allocate your second name as a string to the variable `my_second_name`:

In [ ]:
# Enter your attempt here

Try to concatenate your names, but add a space in the middle (thus, if you get "JackSparrow", this would be incorrect).

In [ ]:
# Enter your attempt here

Create a variable named `course_number` and allocate it the value 16. Then try add this course number into the `course_code` variable "GGS" using the `format()` function. You should end up with a variable called `course_code` with the string `GGS16` allocated to it.

In [ ]:
# Enter your attempt here

## Lists

Lists consist of one or more elements and can contain any data type such as numbers, strings, floats, bools or both. 

Lists are defined by a pair of square brackets with individual elements separated by commas.

In [8]:
# Example
a = [2017,2018,2019,2020,2021]
a

[2017, 2018, 2019, 2020, 2021]

In [9]:
# Example
b = [2.0,"GMU",14,"GGS",2021]
b

[2.0, 'GMU', 14, 'GGS', 2021]

Individual elements within a list can be accessed using a variable name with square brackets as follows;

In [10]:
# Example
b[0]

2.0

In [11]:
# Example
b[1]

'GMU'

In [12]:
# Example
b[3]

'GGS'

Proper programming languages, such as python and C, index lists starting from 0 (!). This is known as "zero indexing". 

Zero indexing will definitely catch a few people out during this class, but learning it will help you think like a computer programmer : ]

The last element in list `b` is `b[4]` because the list has 5 elements and it can be accessed as `b[-1]` also.

The lists can be accessed in reverse but starting with -1:

In [13]:
# Example
b[-1]

2021

Which is the same as manually indexing the last value (but you may not always know how long the list is!!).

In [14]:
# Example
b[4]

2021

The individual elements within the list can be changed.

In [16]:
b

[2.0, 'GMU', 14, 'GGS', 2021]

In [18]:
# Example: We can manipulate the underlying value
b[0] = b[0] + 1
b

[4.0, 'GMU', 14, 'GGS', 2021]

In [19]:
# Example: Or we can completely write over it
b[2] = 'Semester'
b

[4.0, 'GMU', 'Semester', 'GGS', 2021]

In the above example, 1 has been added to the previous value of `b[0]` and the number 14 was replaced with string "Semester".

Individual elements within a list can also be manipulated.

In [20]:
# Example
b[3] = b[3] + " -"
b

[4.0, 'GMU', 'Semester', 'GGS -', 2021]

We can also reverse the order of the list:

In [21]:
# Example
b = b[::-1]
b

[2021, 'GGS -', 'Semester', 'GMU', 4.0]

A key feature of lists is that they can be added together. This is a really important thing to remember.

In [22]:
# Example
a #our current list

[2017, 2018, 2019, 2020, 2021]

In [23]:
# Example
a+a #now we have a single list, but containing all elements from list 'a' twice!

[2017, 2018, 2019, 2020, 2021, 2017, 2018, 2019, 2020, 2021]

In [24]:
# Example
a+a+a #now we have a single list, but containing all elements from list 'a' thrice!

[2017,
 2018,
 2019,
 2020,
 2021,
 2017,
 2018,
 2019,
 2020,
 2021,
 2017,
 2018,
 2019,
 2020,
 2021]

Note how the individual elements *are not added*, but the two data structures are combined into a single list. 

This is called **concatenating** in computer science lingo.

In [25]:
a + b

[2017, 2018, 2019, 2020, 2021, 2021, 'GGS -', 'Semester', 'GMU', 4.0]

#### Slicing Lists

Parts of lists can be accessed using the *slicing* feature.

In [26]:
# So if we have our list b:
b

[2021, 'GGS -', 'Semester', 'GMU', 4.0]

In [27]:
# We can slice it for just the first three elements by specifying b[0:3]
b[0:3]

# So this literally means for our list 'b', I want to index into the list 
# (thus the square brackets '[]'), and then extract from position 0-3.

[2021, 'GGS -', 'Semester']

Alternatively, we can cut from the third position onwards, as follows:

In [28]:
b[3:]

['GMU', 4.0]

Or from the start of the list until the third position:

In [29]:
b[:3]

[2021, 'GGS -', 'Semester']

A length of a list can be accessed using the *len* function.

This is a really useful function which is used all the time, so remember it!

In [30]:
len(b)

5

#### Appending to a List

An element can be added at the end of a given list using the **append** function.

In [42]:
states = ['New York', 'Virginia', 'Washington', 'Delaware', 'Maryland']
states

['New York', 'Virginia', 'Washington', 'Delaware', 'Maryland']

In [43]:
states.append('North Carolina')
states

['New York',
 'Virginia',
 'Washington',
 'Delaware',
 'Maryland',
 'North Carolina']

<div class="alert alert-block alert-info">
    
<b>Note:</b> *append* works by adding the element after the last one in the existing list. 
</div>

Sometimes it might be necessary to add an element at a specific position in a list. This can be achieved using the **insert** function. The position is specified followed by the element. Example;

In [44]:
states.insert(3,'West Virginia')
states

['New York',
 'Virginia',
 'Washington',
 'West Virginia',
 'Delaware',
 'Maryland',
 'North Carolina']

An element of a list can be removed using the **remove** function. This is done by specifying the element.

In [45]:
states.remove('Washington')
print(states)

['New York', 'Virginia', 'West Virginia', 'Delaware', 'Maryland', 'North Carolina']

Python **del** function can also be used in place of remove. The advantage is that it only accepts the index of the element and not necessary the element which might always return an error due to spelling or case sensitivity. Example, to remove Las Vegas from the list;

In [46]:
del states[3]
states

['New York', 'Virginia', 'West Virginia', 'Maryland', 'North Carolina']

## Exercise

We covered a lot of information on lists, but this is because they are a really useful data structure, and we will use them all the time on this class.

Create a list called `my_list` and add your height, hair color, and favourite band/musical artist.

In [ ]:
# Enter your attempt here

Create another list called `my_list2` and place your degree name (e.g., 'GGS') and the number 12.

In [ ]:
# Enter your attempt here

Concatenate these data structures into a list called `meta_list`:

In [ ]:
# Enter your attempt here

Reverse the `meta_list`:

In [ ]:
# Enter your attempt here

Append your birth year to your list:

In [ ]:
# Enter your attempt here

For this list, separate out the second and forth values: `['a', 'b', 'c', 'd', 'e']`:

In [ ]:
# Enter your attempt here