# Multidimensional structures

This is a common data structure we will use.

For example, using:

    - A list of lists
    - A list of tuples
    - A list of dicts

In [2]:
# Example
# A list of lists: (remember lists of square brackets)

my_list = [
    ['USA', 'gid_2'],
    ['Italy', 'gid_2'],
    ['Rwanda','gid_1']
]
my_list

[['USA', 'gid_2'], ['Italy', 'gid_2'], ['Rwanda', 'gid_1']]

In [3]:
# Example:
# A list of tuples: (remember tuples use normal parantheses/brackets)

my_list_tuples = [
    ('USA', 'gid_2'),
    ('Italy', 'gid_2'),
    ('Rwanda','gid_1')
]
my_list_tuples

[('USA', 'gid_2'), ('Italy', 'gid_2'), ('Rwanda', 'gid_1')]

In [4]:
# Example:
# You can index them like normal lists
my_list[0]

['USA', 'gid_2']

In [5]:
# You can also iterate over them like a normal list using a loop:
# Example   
for i in my_list:
    print(i)

['USA', 'gid_2']
['Italy', 'gid_2']
['Rwanda', 'gid_1']

It's the same for the tuple list:

In [6]:
# Example
my_list_tuples[0]

('USA', 'gid_2')

In [7]:
# You can also iterate over them like a normal list using a loop:
# Example   
for i in my_list_tuples:
    print(i)

('USA', 'gid_2')
('Italy', 'gid_2')
('Rwanda', 'gid_1')

You can even start to include some logic in the loop:

In [11]:
# Example
for i in my_list_tuples:  # So we're iterating over our list of tuples using a for loop.
    if i[0] == 'USA':     # And placing an if function to see if the first item in each tuple is equal to 'USA'.
        print(i[1])       # If it is, we print the associated tuple value.

gid_2

## Exercise

Create a list of lists containing the following two lists:

    - [1,2]
    - [2,3]

In [ ]:
# Enter your attempt here

Append this list to your list of lists:

    - [3,4]

In [ ]:
# Enter your attempt here

Now use a loop to print the content of your list of lists.

In [ ]:
# Enter your attempt here

Create a list of tuples containing the following two tuples:

    - (1,2)
    - (2,3)

In [ ]:
# Enter your attempt here

Append this tuple to your list of tuples:

    - (3,4)

In [ ]:
# Enter your attempt here

Now use a loop to print the content of your list of tuples.

In [ ]:
# Enter your attempt here